@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
	position:relative;
	width:100%;
	height:100%;
	background-color:#050505;
}
#cont{
	position:relative;
	width:960px;
	min-height:1100px;
	margin:0 auto;
	border:none;
}
#banner{
	position:relative;
	top:-1px;
	width:960px;
	height:320px;
	background:url(/betor/assets/img/banner.jpg) no-repeat;
}
#logged_banner{
	position:relative;
	top:-1px;
	width:960px;
	height:280px;
	background:none;
}
#banner #reg_cont{
	position:relative;
	width:220px;
	text-align:center;
	left:712px;
	top:260px;
}
#banner #reg_cont a{
	position:relative;
	display:block;
	width:220px;
	height:43px;
	text-shadow:1px 1px 1px #1B1B1B;
	text-decoration:none;
	color:#FFF;
	font-size:28px;
	padding-top:5px;
	background:url(/betor/assets/img/menu_nav_bg.png) repeat-x;
	border-radius:10px;
	border:1px solid #b81902;
	outline:none;
	box-shadow:1px 1px 2px #020202;
}
#banner #reg_cont a:hover{
	background-image: linear-gradient(top, #961702 15%, #fe1f02 58%);
	background-image: -o-linear-gradient(top, #961702 15%, #fe1f02 58%);
	background-image: -moz-linear-gradient(top, #961702 15%, #fe1f02 58%);
	background-image: -webkit-linear-gradient(top, #961702 15%, #fe1f02 58%);
	background-image: -ms-linear-gradient(top, #961702 15%, #fe1f02 58%);
	height:42px;
	padding-top:6px;
	text-shadow:-1px -1px 1px #1B1B1B;
}
#strip{
	position:relative;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
	background-color:#000;
	height:21px;
	padding:2px;
}
#logout{
	text-decoration:none;
	color:#FF0;
	font-size:12pt;
	float:right;
	display:inline-block;
	position:relative;
	top:-10px;
	right:10px;
}
a#logout:hover{
	text-decoration:underline;
}
#bet_calc{
	position:absolute;
	right:0px;
	width:240px;
	height:505px;
	border:none;
	z-index:5;
	background-color:#1B1B1B;
	color:#42f4ff;
	font-size:16px;
	padding:10px;
}
/* BETS FORM */
#bet_form .bet_txt{
	border:1px solid #3FC;
	background-color:#FFF;
	color:#1D1D1D;
	max-width:80px;
	padding:3px;
	margin-bottom:5px;
	height:14px;
	display:inline-block;
	font-weight:bold;
	font-size:14px;
}
#bet_form label{
	display:inline-block;
	min-width:120px;
	font-size:14px;
}
#mypicks{
	font-size:12px;
	margin-bottom:20px;
	border-bottom:1px solid #707070;
	padding-bottom:5px;
}
#mypicks ul{
	margin:0;
	padding:0px;
}
#mypicks ul li{
	display:block;
	list-style:none;
	border-bottom:1px solid yellow;
}
#bet_submit{
	position:relative;
	display:block;
	font-weight:500;
	width:90px;
	left:120px;
	margin-top:5px;
	height:30px;
	font-size:14px;
}
/***paraphernalia ***/
li a.betCancel{
	background-color:#F00;
	line-height:10px;
	color:#FFF; text-decoration:none;
	border:1px solid #CCC;
	display:block;
	width:10px; height:13px;
	position:absolute;
	left:238px;
	text-align:center;
	font-weight:bold;
	margin-top:4px;
}
li a.betCancel:hover{
	border-color:#FFF;
	padding-top:1px; height:13px;
}
