#prem-cont{
	position:relative;
	width:1250px;
	height:inherit;
	margin:0 auto;
	border:none;
}
#top-head{
	position:relative;
	background:url(/betor/assets/img/top_bg_prem.png);
	width:1250px;
	height:125px;
}
#tips-cont{
	position:relative;
	width:inherit;
	background-color:white;
	min-height:600px;
	display:inline-block;
}
#credit-info
{
	position:relative;
	width:inherit;
	height:100px;
	background:white;
	margin-bottom:5px;
	padding:10px;
	border-bottom:1px solid grey;
	box-sizing: border-box;
	font-size:13pt;color:#2B2B2B;
}
#tip-info{
	position:relative;
	padding:10px;
}
#left-hold
{
	position:relative;
	border:1px solid #FCFCFC;
	width:78%;
	float:left;
	box-sizing: border-box;
	background-color:#FCFCFC;
}
#right-hold
{
	position:relative;
	border:1px solid #F2F2F2;
	width:21%;
	display:inline-block;
	min-height:300px;
	padding:1px;
	box-sizing: border-box;
	float:left;
	margin-left:5px;
}
.tip-holder{
	position:relative;
	width:100%;
	min-height:50px;
	margin:0px 0px 20px 0px;
}
.tip-holder .tip-name{
	position:relative;
	width:100%; height:27px;
	background-color:black;
	color:white;
	font-size:13pt;
	font-weight:bold;
	display:block;
	padding:3px 0px 0px 10px;
	box-sizing: border-box;
}
table.avail-tips-list{
	border: 1px solid #A3A3A3;
    border-collapse: collapse;
	box-sizing: border-box;
	position:relative;
}
th,td{
	border: 1px solid #A3A3A3;
	box-sizing: border-box;
    border-collapse: collapse;
	font-size:10.5pt;
	text-align:center;
	height:23px;
}
th{color:#F50029;}
tr.data-tr{color:#0A0A0A;}
tr.data-tr:hover{
	background-color:#7A7A7A;
	color:white;
}
a.tip-anchor:link, a.tip-anchor:active, a.tip-anchor:visited{
	font-weight:bold;
	text-decoration:none;
	font-size:9pt;
	color:#0000EE;
}
a.tip-anchor:hover{
	color:white;
	text-decoration:underline;
}
